{"process.lsund.buy_fruit.buy-fruit" {:default {:fruit {:value "banana" :type "String"}}
                                      :required [:fruit]}
 "process.heron.encounter-import.import-encounters" {:default {:key {:value "2018/xml/ludvig-test/eob-11785-plans-43-44.xml"
                                                                     :type "String"}
                                                               :bucket {:value "edi-healthcare--dev--heron--encounter-submission"
                                                                        :type "String"}}
                                                     :required [:key :bucket]}}
