{"process.lsund.buy_fruit.buy-fruit"
 {:default {:fruit {:value "banana" :type "String"}}
  :required [:fruit]}

 "process.heron.encounter-import.import-encounters"
 {:default {:key {:value "2018/xml/ludvig-test/cleanup-71_31.xml"
                  :type "String"}
            :bucket {:value "edi-healthcare--dev--heron--encounter-submission"
                     :type "String"}}
  :required [:key :bucket]}

 "process.heron.batch-submission.submit-batch.submit-batch"
 {:default {:plan {:value "ar-medicaid"
                   :type "String"}}
  :required [:plan]}

 "process.lsund.failer.failer"
 {:default {}
  :required []}

 "process.heron.responses.load-response-file.load-response-file"
 {:default {:vendor {:value "ar-medicaid"
                     :type "String"}
            :fileType {:value "dmc-encounter-supplemental"
                       :type "String"}
            :key {:value "2018/dmc-encounter-supplemental/MCNA_P_09AUG2018.zip"
                  :type "String"}
            :bucket {:value "edi-healthcare--dev--heron--encounter-submission"
                     :type "String"}
            :fileFormat {:value "delimiter-separated-values"
                         :type "String"}}
  :required [:vendor :fileType :key :bucket :fileFormat]}

 "process.heron.responses.merge-and-load-arkansas-response-files.merge-and-load-arkansas-response-files"
 {:default {:vendor {:value "ar-medicaid"
                     :type "String"}
            :fileType {:value "dmc-encounter-supplemental"
                       :type "String"}
            :key {:value "2018/dmc-encounter-supplemental/MCNA_P_12JUL2018.txt"
                  :type "String"}
            :bucket {:value "edi-healthcare--dev--heron--encounter-submission"
                     :type "String"}
            :fileFormat {:value "delimiter-separated-values"
                         :type "String"}}
  :required [:vendor :fileType :key :bucket :fileFormat]}}

