{"process.lsund.buy_fruit.buy-fruit"
 {:default {:fruit {:value "banana" :type "String"}}
  :required [:fruit]}

 "process.heron.encounter-import.import-encounters"
 {:default {:key {:value "2018/xml/ludvig-test/eob-11811-plans-43-44.xml"
                  :type "String"}
            :bucket {:value "edi-healthcare--dev--heron--encounter-submission"
                     :type "String"}}
  :required [:key :bucket]}

 "process.heron.batch-submission.submit-batch.submit-batch"
 {:default {:plan {:value "tx-medicaid"
                   :type "String"}}
  :required [:plan]}

 "process.lsund.failer.failer"
 {:default {}
  :required []}

 "process.heron.responses.load-response-file.load-response-file"
 {:default {:vendor {:value "ia-medicaid"
                    :type "String"}
           :fileType {:value "enc-response-d"
                      :type "String"}
           :key {:value "2018/iowa-error-file/ENC_RESPONSE_D_20180705_082604.TXT"
                 :type "String"}
           :bucket {:value "edi-healthcare--dev--heron--encounter-submission"
                    :type "String"}
           :fileFormat {:value "fixed-width"
                        :type "String"}}
  :required [:vendor :fileType :key :bucket :fileFormat]}}

